<body>
    {{!-- Hago un pequeño Navbar para navegar a otras páginas --}}
    <nav class="navbar">
        <div style="font-size: 25px">Logo</div>
        <h2>Bienvenido</h2>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>



    <div class="product-input">
        <h3>PLEASE LOGIN:</h3>
        <form id="loginForm">
            <div class="input-element">
                <label for="email">email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-element">
                <label for="password">password:</label>
                <input type="text" id="password" name="password" required>
            </div>
            {{!-- <button class="input-element" type="submit" id="login">Enviar</button> --}}
            <button type="button" id="login">Enviar</button>
        </form>
        {{!-- <button type="button" id="googleLogin">Login con Google</button> --}}
        <div>
            <a href="/register">Register</a>
        </div>

        <form class="input-element">
            <button type="button" id="isOnline">is Online?</button>
        </form>
        {{!-- <form action="./api/sessions/signout" method="post" class="input-element" id="signout">
            <button type="submit">Sign Out</button>
        </form> --}}
    </div>
</body>
<script>
    async function sendOnClick() {
        const data = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
        }
        try {
            let options = {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data),
            };
            let response = await fetch(`/api/sessions/login`, options)
            response = await response.json()
            console.log("response: ", response.response)
            if (response) {
                alert("USER LOGUED IN")
                //location.replace("/")
            } else {
                alert("INVALID CREDENTIALS")
            }
        } catch (error) {
            alert(error.message)
        }
    }

    async function verifyOnline() {
        try {
            let options = {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                Headers: JSON.stringify(),
            };

            console.log("response Online: ")
            if (token) {
                alert("USER ONLINE ", token)
                //location.replace("/")
            } else {
                alert("INVALID CREDENTIALS")
            }
        } catch (error) {
            alert(error.message)
        }
    }


    /* function sendToGoogle() {
        const data = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value
        }
        console.log("Send To Google data: ",data)
        try {
            let options = {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data),
            };
            fetch(`/api/sessions/google`, options)
                .then((res) => res.json())
                .then((res) => {
                    console.log("Response: ", res)
                })
        } catch (error) {
            alert(error)
        }
    } */

    //const googleLogin = document.getElementById("googleLogin")
    const sendButton = document.getElementById("login")
    const isOnlineButton = document.getElementById("isOnline")
    sendButton.onclick = () => sendOnClick()
    isOnlineButton.onclick = () => verifyOnline()
    //googleLogin.onclick = () => window.location.href = "/api/sessions/google"
    // googleLogin.onclick = () => sendToGoogle()
</script>